.app-header {
    // border: 2px solid green;
    background-color: $header-bg-color;
    padding: 6px 13px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(75, 75, 97, 0.378);
    max-height: 44px;
    color: $header-font-color;
    // position: fixed;
    width: 100%;
    z-index: 10;

    section {
        margin: 0;
        padding: 0;
    }

    .home-logo-link {
        display: flex;
        // align-items: center;
        color: inherit;
        // border: 1px solid black;
        border-radius: 0.3rem;
        padding: 0 3px;

        &:hover {
            background-color: darken($color: $header-bg-color, $amount: 10);
        }
    }


    .trello-logo {
        font-size: 15px;
        margin-inline-end: 5px;
        margin-top: 6px;
    }

    .logo {
        font-family: secular;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
    }


    .nav-header {
        display: flex;
        align-items: center;
        flex-grow: 1;

        .workspace-link {
            color: inherit;
        }

        .nav-links-container {
            display: flex;
            margin: 0;
            padding: 0;
            margin-inline-start: 17px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;

            .nav-link {
                padding: 6px 9px;
                border-radius: 0.3em;
                text-decoration: none;
                list-style: none;
                margin-inline-end: 20px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: darken($color: $header-bg-color, $amount: 10);
                }

                .downArr {
                    padding-top: 5px;
                }
            }
        }

        .create {
            margin-inline-start: 5px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
            cursor: pointer;
            padding: 6px;
            border-radius: 0.3em;
            background-color: darken($color: $header-bg-color, $amount: 7);

            &:hover {
                background-color: darken($color: $header-bg-color, $amount: 10);
            }
        }
    }



    .search {
        justify-self: flex-end;
        border: 1px solid rgba(82, 82, 83, 0.332);
        background-color: $header-bg-color;
        border-radius: 0.3em;
        padding: 2px 8px;
        display: flex;
        align-items: center;
        background-color: darken($color: $header-bg-color, $amount: 5);



        .mag-glass {
            font-size: 15px;
        }

        input {
            background-color: inherit;
            border: none;
            padding: 4px 3px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;

            &::placeholder {
                color: $header-font-color;
            }

            &:focus {
                outline: none;
                //    background-color: whitesmoke;
            }
        }
    }

    .search-wide {
        background-color: whitesmoke;
        width: 500px;
        justify-self: flex-end;
        border: 1px solid rgba(82, 82, 83, 0.332);
        border-radius: 0.3em;
        padding: 0 8px;
        display: flex;
        align-items: center;
        min-height: 32px;

        input {
            flex-grow: 1;
            background-color: inherit;
            border: none;
            // padding: 4px 3px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;

            &:focus {
                outline: none;
            }
        }
    }

    .bell {
        font-size: 18px;
        display: flex;
        padding: 5px 0;
        border-radius: 0.3em;

        &:hover {
            background-color: darken($color: $header-bg-color, $amount: 10);
        }
    }

    .space {
        display: none;
    }

    .login {
        display: none;
        height: 100%;
    }

}

////////////////////////////// APPHEADER IN HOMEPAGE ///////////////////////////


.app-header.home {
    background-color: white;
    max-height: unset;
    height: 60px;
    border-bottom: none;
    padding: 0 0 0 13px;

    // border: 2px solid red;

    .menu-logo {
        display: none;
    }

    .trello-logo {
        color: $home-btn-clr;
        font-size: 24px;
        margin-top: 5px;
    }

    .logo {
        font-size: 27px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .home-logo-link {
        &:hover {
            background-color: inherit;
        }
    }

    .nav-header {
        display: none;
    }

    .search {
        display: none;
    }

    .bell {
        display: none;
    }

    .login {
        display: block;
        background-color: rgb(0, 101, 255);
        color: white;
        font-family: sans-serif;
        font-size: 1.25rem;
        letter-spacing: 1.4px;
        padding: 0 25px;

        &:hover {
            background: rgb(6, 85, 204);
        }
    }

    .sign-up {
        display: block;
        background-color: rgb(0, 101, 255);
        color: white;
        font-family: sans-serif;
        font-size: 1.25rem;
        letter-spacing: 1.4px;
        padding: 0 25px;
        height: 100%;
        text-align: center;
    }

    .space {
        flex-grow: 1;
        display: block;
    }


}

////////////////////////////// APPHEADER IN BOARD-PAGE ///////////////////////////

.workspace {
    position: unset;
}