.board-header {

    color: #172b4d;
    font-family: secular;
    height: 42px;
    padding: 5px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 118px;

    .star-container {
        padding: 3px;
        display: flex;
        background-color: rgba(255, 255, 255, 0.256);
        border-radius: 3px;
        margin-inline-start: 17px;
        // font-size: 16px;
        transition: all .5s;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #00000029;
            color: #f2d600;
            transform: scale(1.2);
        }

        .star {
            height: 16px;
            width: 16px;
            padding: 0;
            margin: 0;
        }
    }

    .space {
        flex-grow: 1;
    }

    .flex-end-side {
        align-items: center;
        display: flex;
        // border: 2px solid red;
        align-self: flex-end;
        justify-self: flex-end;
        padding-bottom: 2px;

        .btn-add {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-left: 5px;

            .mem-svg {
                width: 17px;
            }
        }
    }
}