.board-header {
    margin-left: 20px;

    .task-member-container {
        margin: 0;
    }

    color: #172b4d;
    font-family: secular;
    height: 42px;
    padding: 5px 8px 5px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    // margin-left: 107px;
    margin-bottom: 2px;
    // position: relative;
    // top: 44px;

    .star-container {
        padding: 3px;
        padding-top: 0;
        display: flex;
        background-color: rgba(255, 255, 255, 0.256);
        border-radius: 3px;
        margin-inline-start: 17px;
        // font-size: 16px;
        transition: all .5s;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #00000029;
            color: #f2d600;

        }

        &:hover+.star {
            transform: scale(1.1);

        }

        .star {
            height: 16px;
            width: 16px;
            padding: 0;
            margin: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .star.marked {
            color: #f2d600;
        }
    }

    .space {
        flex-grow: 1;
    }

    .flex-end-side {
        align-items: center;
        display: flex;
        // border: 2px solid red;
        align-self: flex-end;
        justify-self: flex-end;
        padding-bottom: 2px;

        .btn-add {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-left: 5px;

            .mem-svg {
                width: 17px;
            }
        }

        .activitis-menu-container {
            font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #00000014;
            // padding-left: 32px;
            height: 32px;
            line-height: 32px;
            margin: 0 4px 4px 0;
            // padding: 6px;
            border-radius: 3px;
            margin-top: 4px;
            margin-left: 10px;

            &:hover {
                background-color: #00000024;
                cursor: pointer;
            }

            .show-menu-title {
                font-size: 14px;
                font-weight: 400;
                padding-right: 12px;
            }

            .menu-img-container {
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;

            }

            .dots {
                width: 16px;
                height: 16px;

            }
        }


    }
}