.board {
    padding: 5px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;

    .group-container {
        gap: 10px;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

.board-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}