.boards-list {
    margin-top: 5px;

    li {
        list-style: none;
        padding: 5px 0;
        display: flex;

        span {
            display: flex;
            font-size: 14px;
            color: $header-font-color ;
        }

        &:hover {
            background-color: darken($color: $header-bg-color, $amount: 15);
        }

        .flex-left {
            display: flex;
            align-items: center;
        }

        &.active {
            background-color: darken($color: $header-bg-color, $amount: 20);
        }
    }

    .thumbnail {
        width: 25px;
        border-radius: 2px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .color-thumb {
        display: inline block;
        width: 25px;
        height: 20px;
        border-radius: 2px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .boards-link {
        color: inherit;
    }
}