.checklist-modal {
    width: 304px;
    padding: 10px;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: var(--ds-shadow-overlay, 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214);
    // z-index: 300;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .header {
        padding: 6px 0;
        color: #5e6c84;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
        margin-bottom: 7px;
    }

    .title {
        color: #172b4d;
        background-color: 'blue';
        font-size: 14px;
        line-height: 20px;
        letter-spacing: normal;
        text-align: start;
        font-size: 12px;
        font-weight: 500;
    }

    .close-btn {
        max-width: 20px;
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
    }

    .btn-add {
        margin-top: 10px;
    }

    .checklist-search-input {
        border: 3px solid lightblue;
        padding: 10px 5px 5px 10px;
        border-radius: 3px;
        margin-bottom: 10px;
        font-size: 14px;

        &:focus {
            outline: none;
            // border: none;
        }
    }
}