.cover-modal {
    z-index: 100;
    background-color: #fff;
    min-width: 200px;
    height: 300px;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cover-modal-title {
        width: 100%;
        display: flex;
        justify-content: space-between;

        span {
            color: black;
        }

    }


    .cover-imgs {
        display: flex;
        flex-wrap: wrap;

        .cover-img-container {
            .cover-img {
                width: 50px;
            }
        }
    }
}