.cover-modal {
    // position: fixed;
    // background-color: #fff;
    // width: 250px;
    // height: 300px;
    // border-radius: 3px;
    // padding: 10px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    width: 304px;
    padding: 10px;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: var(--ds-shadow-overlay, 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214);
    z-index: 300;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    // border: 3px solid red;

    .close-btn {
        max-width: 20px;
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
    }

    &:hover {
        cursor: auto;
    }

    .cover-modal-title {
        // width: 100%;
        // display: flex;
        // justify-content: space-between;
        padding: 6px 0;
        color: #5e6c84;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
        margin-bottom: 7px;
    }

    .cover-modal-img-preview {
        min-height: 62px;
        padding: 6px 4px 4px 6px;
        background-size: cover;
        background-position: center;
        box-shadow: none;
        cursor: pointer;
        background: #FFFFFF;
        border-radius: 3px;
        position: relative;
        width: 134px;
        border: 1px solid rgba(9, 30, 66, 0.08);

        &:hover {
            filter: saturate(85%) brightness(85%);
        }
    }

    .sub-title {
        color: #172b4d;
        // background-color: #ffffff;
        background-color: 'blue';
        font-size: 14px;
        line-height: 20px;
        letter-spacing: normal;
        text-align: start;
        // border: 2px solid red;
        font-size: 12px;
        font-weight: 500;
    }


    // .cover-color {
    //     display: flex;
    //     flex-wrap: wrap;

    //     .cover-color-container {
    //         .cover-color {
    //             width: 50px;
    //             height: 40px;
    //             margin-right: 4px ;
    //             margin-top: 4px;
    //         }
    //     }
    // }
    .cover-color {
        -webkit-transform: translate3d(0, 0, 0);
        display: grid;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .cover-color-container {
            .cover-color {
                margin: 0;
                border-radius: 3px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: none;
                width: 50px;
                height: 32px;
                cursor: pointer;
            }
        }
    }

    .cover-imgs {
        display: grid;
        gap: 8px;
        padding: 4px;
        margin: 0 -4px;
        overflow-x: hidden;
        grid-template-columns: 1fr 1fr 1fr;

        .cover-img-container {

            .cover-img {

                cursor: pointer;
                border-radius: 3px;
                // width: 50px;
                // height: 40px;
                // margin-right: 4px ;
                // margin-top: 4px;
            }
        }
    }
}