.group-list {
    display: flex;
    // gap: 10px;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;




    .group-title {
        padding: 6px 36px 6px 8px;

        span {
            padding: 4px 8px;
        }
    }
}