.group-action {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 85px;
    background-color: #fff;
    box-shadow: var(--ds-shadow-overlay, 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214);
    z-index: 100;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
        cursor: auto;
    }

    .group-action-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #091e4214;
        width: 90%;

        .group-action-title {
            padding: 6px 0 6px 20px;
        }

        .group-action-close {
            padding: 4px 8px 4px;

            &:hover {
                cursor: pointer;
                background-color: #091e4214;
                border-radius: 3px;
            }
        }
    }

    .group-action-delete {
        padding: 6px 0 6px 20px;
        margin: 3px 0 0 3px;
        border-radius: 3px;
        font-weight: 400;
        display: block;
        width: calc(100% - 6px);

        &:hover {
            background-color: #f3f5fa;
            cursor: pointer;
        }
    }

}