.group-list {
    display: flex;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    align-items: flex-start;




    .group-title {
        padding: 6px 36px 6px 8px;

        span {
            padding: 4px 8px;
        }
    }
}