.group-action {
    width: 200px;
    // height: 100px;
    position: absolute;
    // position: relative;
    top: 85px;
    background-color: #fff;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    // z-index: 100;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:hover {
        cursor: auto;
    }

    .group-action-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #091e4214;
        width: 90%;

        .group-action-title {
            padding: 6px 0 6px 20px;
        }

        .group-action-close {
            // padding: 4px 8px 4px;
            background-image: url('../../img/icon-close-add-task.svg');
            background-position: center;
            background-repeat: no-repeat;
            align-self: center;
            width: 10px;
            height: 10px;

            &:hover {
                cursor: pointer;
                background-image: url('../../img/icon-close-add-task-hover.svg');
            }


        }
    }

    .group-action-delete {
        padding: 6px 0 6px 20px;
        margin: 3px 0 0 3px;
        border-radius: 3px;
        font-weight: 400;
        display: block;
        width: calc(100% - 6px);

        &:hover {
            background-color: #f3f5fa;
            cursor: pointer;
        }
    }

    .add-video {
        padding: 0 0 6px 20px;
        margin: 3px 0 0 3px;
        border-radius: 3px;
        font-weight: 400;
        display: block;
        width: calc(100% - 6px);

        &:hover {
            background-color: #f3f5fa;
            cursor: pointer;
        }
    }

    .videoModal {
        border: 2px solid green;
        background-color: black;
        color: white;
        padding: 10px 20px;
        z-index: 5;

        .btns-container {
            // border: 2px solid red;
            margin: 10px 0;
            display: flex;
            justify-content: space-between;

            .btn {
                padding: 5px 10px;
                border-radius: 3px;
               

                &.btn-start {
                    background-color: lightgreen;
                    &:hover{
                        background-color: rgb(84, 216, 84);
                    }
                }
                &.btn-stop {
                    background-color: rgb(233, 112, 112);
                    &:hover{
                        background-color: rgb(235, 62, 62);
                    }
                }
                &.btn-post {
                    background-color: rgb(119, 206, 235);
                    &:hover{
                        background-color: rgb(54, 169, 207);
                    }
                }
            }
        }
    }

}