.side-menu {
    height: 100%;
    max-width: 17px;
    min-width: 1px;
    background-color: rgba(0, 0, 0, 0.242);
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.271);
    opacity: 0.8;
    overflow-x: hidden;
    transition: min-width 0.5s;

    header>*:not(.open-arrow-div) {
        opacity: 0;
        transition: opacity 0.3s;
    }

    .main,
    .boards {
        opacity: 0;
        transition: opacity 0.3s;
    }


    header {
        display: flex;
        border-bottom: 1px solid darken($color: $header-bg-color, $amount: 20);
        height: 69px;
        align-items: center;

        .s {
            color: white;
            background-color: $home-btn-clr;
            background: linear-gradient(darken($home-btn-clr , $amount: 10), $home-btn-clr);
            height: 36px;
            width: 36px;
            border-radius: 3px;
            font-family: secular;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-left: 10px;
        }

        .header-txt {
            color: $header-font-color ;
            margin-left: 8px;
            margin-right: 4px;
            text-align: left;
            font-size: 14px;
            font-weight: 500;
            flex-grow: 1;

        }

        .arrow-div {
            justify-self: flex-end;
            // background-color: red;
            border-radius: 3px;
            height: 28px;
            width: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            cursor: pointer;
            display: none;

            &:hover {
                background-color: darken($header-bg-color , $amount: 20);
            }

            .arrow {
                font-size: 12px;
            }
        }
    }

    .title {
        color: $header-font-color ;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        margin-top: 12px;
        margin-left: 10px;
    }

    .open-arrow-div {
        border: 1px solid $header-font-color;
        position: fixed;
        left: 6px;
        border-radius: 50%;
        padding: 4px;
        font-size: 11px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: darken($header-bg-color , $amount: 20);

        &:hover {
            background-color: darken($header-bg-color , $amount: 30);
        }
    }
}

///////////////////OPEN /////////////////

.side-menu.open {
    background-color: darken($header-bg-color , $amount: 10);
    min-width: 260px;
    border-right: none;
    opacity: 1;

    .open-arrow-div {
        display: none;
        width: 200px;
    }

    .arrow-div {
        display: block;
        display: flex;
    }

    header>*:not(.open-arrow-div) {
        opacity: 1;
    }

    .main,
    .boards {
        opacity: 1;
    }

}