.task-checklist {
    // border: 2px solid red;
    margin-bottom: 20px;
    margin-left: 7px;
    margin-top: 20px;

    .checklist-preview {
        // border: 2px solid red;


        .checklist-header {
            display: flex;

            .checklist-icon {
                font-size: 20px;
                // border: 2px solid red;

            }

            .checklist-title {
                // border: 2px solid red;
                flex-grow: 1;
                margin-left: 5px;

                font-size: 16px;
                margin-left: 14px;
                font-weight: 600;
            }

        }

        button.checklist-btn {
            vertical-align: top;
            background-color: rgba(9, 30, 66, 0.0392156863);
            color: inherit;
            border-radius: 3px;
            font-size: 14px;
            // font-weight: 400;
            justify-content: center;
            line-height: 20px;
            // padding: 6px 12px;
            // width: 60px;
            height: 32px;
            text-align: center;
            margin: 4px 4px 0 0;
            padding: 0 10px;

            &:hover{
                background-color: rgba(9, 30, 66, 0.088) ;
            }
        }

        button.checklist-btn.add {
            margin-left: 35px;
        }


        .progress-bar {
            display: flex;
            // border: 1px solid green;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 5px;

            .checklist-progress-percentage {
                font-size: 11px;
            }

            .bar-container {
                flex-grow: 1;
                height: 8px;
                margin: 0 0 0 20px;
                background: #091e4214;
                border-radius: 4px;


                .progress {
                    height: 100%;
                    background-color: #5ba4cf;
                    border-radius: 4px;

                    &.done{
                        background-color: #61bd4f;
                    }
                }


            }
        }

        button.btn-add {
            width: 60px;
        }

    }

}