.task-label-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 4px;

    .btn-label {
        min-width: 40px;
        // max-width: 40px;
        height: 8px;
        border-radius: 4px;
        padding: 0 8px;
        margin: 0;
        transition: all ease-in .5s;
        margin: 4px 0;

        .label-title.hidden {
            // display:none;
            visibility: hidden;
        }

        &.clicked {
            min-width: 56px;
            width: fit-content;
            height: 16px;

            .label-title.active {
                display: flex;
                // animation-delay: 2s;
                // transition: .5s;
                transition: all ease-in .5s;
                color: #172b4d;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
                vertical-align: top;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

            }

        }

    }
}