.task-label-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 4px;

    .btn-label {
        min-width: 40px;
        max-width: 40px;
        height: 8px;
        border-radius: 4px;
        padding: 0 8px;
        margin: 0;
        transition: all ease-in .5s;

        &.clicked {
            min-width: 56px;
            height: 16px;
        }
    }
}