.task-list {
    display: flex;
    flex-direction: column;
    padding: 0 4px;
    margin: 0 0 0 4px;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 20px;
    }

    .add-task-content {
        overflow-y: visible;
        padding: 6px 8px 2px;
        height: 66px;
        margin-bottom: 4px;

        &:hover {
            background-color: #fff;
            cursor: unset;
        }

        textarea[name="title"] {
            font-family: inherit;
            overflow: visible;
            overflow-wrap: break-word;
            resize: none;
            padding: 0;
            min-height: 54px;
            max-height: 162px;
            width: 100%;
            border: none;
            display: block;
            flex: 1;
            line-height: 20px;

            &:focus {
                outline: none;
            }
        }

    }
}