.todo-preview {
    // background-color: #091e420a;
    // border: 2px solid red;
    border-radius: 3px;
    display: flex;
    align-items: center;
    // padding: 5px 0;


    &:hover {
        background-color: #091e4214;
    }


    .txt-area-normal.checked{
        // border: 2px solid green;
        text-decoration: line-through;
    }

    .checkbox{
        color: #0079bf;
        font-size: 20px;
    }

    .txt-and-btns{
        // border: 2px solid red;
        width: 100%;
    }

    textarea{
        padding: 0;
        background-color: transparent;
        // border: 1px solid green;
        margin-bottom: 0;
        // height: 20px;
        margin-left: 5px;
        padding-top: 5px;
        padding-left: 5px;
        margin-top: 10px;

        &:hover {
            background-color: transparent;
            color: #091e42;
        }
      
    }

    .btn-add{
        margin-left: 6px;
    }

    .todo-edit-btns{
        margin-top: 5px;
    }
   
}




.txt-area-normal {

    overflow: hidden;
    overflow-wrap: break-word;
    border: none;
    text-decoration: none;
    resize: none;
    box-shadow: none;
    display: block;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    color: inherit;
    background-color: #091e420a;
    border-radius: 3px;
    padding: 8px 12px;
    width: 100%;
    margin-bottom: 5px;
   

    ::placeholder {
        color: inherit;
    }

    &:focus {
        background-color: #fff;
        resize: none;
        box-shadow: inset 0 0 0 2px #0079bf;
        font-family: inherit;
    }

    &:hover {
        background-color: #091e4214;
        color: #091e42;
    }

}