.date-picker {
    // z-index: 100;
    // position: absolute;
    overflow: auto;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.day-view {
    background-color: #fff;
    font-size: 14px;
    // padding: 4px 9px;
    border-radius: 3px;
    color: #091E42;
    min-width: 42px;
    max-width: 42px;
    min-height: 32px;
    max-height: 32px;

    &:hover {
        background-color: #EBECF0;
    }

    &:active {
        background-color: #DEEBFF;

    }
}



.calendar-view {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 310px;
    font-size: 11px;
    color: #6B778C;
    text-transform: uppercase;
    min-width: 40px;
    padding: 8px;
    font-weight: 700;
    text-align: center;

    abbr {
        text-decoration: none;

    }
}

.react-calendar__month-view__days {
    margin: auto;
    width: 294px;
}

.react-calendar__navigation {
    padding: 13px;
    margin-bottom: 20px;
    background-color: #fff;
    display: flex;
    width: 100%;
}

.react-calendar__navigation__arrow {
    background-color: #fff;
    margin-top: 5px;

}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    color: #172B4D;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    background-color: #fff;
    font-size: 14px;


}

.react-calendar__navigation__label {
    background-color: #fff;
}

// .clicked {
//     background-color: #42526E;
//     color: #FFFFFF;
// }
// .react-calendar__tile--now {
//     background-color: #42526E;
//     color: #FFFFFF;
// }