.dashboard {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 60;

    .black-screen {
        background-color: rgba(0, 0, 0, 0.699);
        cursor: pointer;
        transition: opacity .6s;
        z-index: 50;
        overflow-x: hidden;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }

    .dashboard-container {
        display: flex;
        flex-direction: column;
        margin: 48px 0 80px;
        overflow-y: visible;
        border-radius: 3px;
        background-color: #f4f5f7;
        background-color: transparent;
        cursor: auto;
        padding: 15px 15px 0 15px;
        color: rgb(44, 44, 75);
        border: 3px solid whitesmoke;
        background-color: rgba(0, 0, 0, 0.504);

        .dashboard-title {
            text-align: center;
            padding: 0px;
            margin: 0;
            display: flex;
            justify-content: center;

            font-family: secular;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 1px;
            background-color: white;
            background-color: rgb(210, 230, 236);
            padding-top: 10px;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;



            .star-marked {
                display: inline;
                padding: 0px;
                margin: 0;
                margin-top: 4px;
                color: gold;

            }
        }

        .dashboard-subtitle {
            background-color: white;
            background-color: rgb(210, 230, 236);
            text-align: center;
            padding: 0px;
            margin: 0;
            margin-top: -10px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;

            span {
                font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
                font-size: 16px;
            }
        }

        .board-info {
            display: flex;
            width: content;
            justify-content: center;
            margin-top: 10px;

            &>* {
                border: 1px solid rgb(198, 198, 210);
                border-radius: 3px;
                padding: 10px;
                background-color: rgb(210, 230, 236);
                width: 200px;
            }

            .board-members {

                max-width: 200px;
                padding: 10px;
                text-align: center;

                .board-members-imgs {
                    width: min-content;
                    margin: auto;
                    margin-top: 10px;
                }
            }

            .task-stat {

                margin-left: 15px;
                margin-right: 15px;
                display: flex;
                justify-content: center;





                .left {
                    width: 100%;

                    div {
                        display: flex;
                        justify-content: center;
                    }


                }


            }

            .counter {
                display: flex;
                align-items: center;
            }

            .txt {
                margin-left: 10px;
            }
        }

        .charts-row-container {
            display: flex;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: space-between;

            .chart-container {
        
                padding: 15px;
                background-color: rgb(250, 228, 231);
                border-radius: 3px;

                &.middle {
                    margin-left: 15px;
                    margin-right: 15px;
                }

                .dashboard-subtitle {
                    background-color: inherit;
                    margin-top: 10px;

                }
            }
        }
    }
}