.home-page {
    background-color: $home-bg-color;
    height: 100%;
    overflow-x: auto;

    .line-through {
        max-width: 70vw;
        margin: auto;
        margin-top: 60px;
        opacity: 0.4;
    }
}