.task-details-container {
    border: black solid 1px;
    display: grid;
    grid-template-columns: 1fr minmax(100px, 250px);
    grid-template-rows: 100px auto auto;

    .task-cover {
        grid-column: 1/-1;
        display: flex;
        // display: grid;
        // grid-template-columns: 1fr 70px;

        // img {
        //     max-height: 10%;
        // }

        .btn {
            max-height: 25px;
            grid-column: 2/-1;
        }

        .btn.close {
            float: inline-end;
        }
    }

    .task-details {
        grid-column: 1/2;
    }

    .task-abilities {
        display: flex;
        flex-direction: column;
    }



}