// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$home-btn-clr:rgb(0, 101, 255);
$home-font-clr:rgb(40, 46, 51);
$home-bg-color:rgb(231, 236, 237);
$header-bg-color:rgb(203, 203, 209);
$header-font-color:rgb(72, 72, 90);

$layoutPadding: 20px;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$padded-break-mobile: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-narrow: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;