.task-details-main {

    .task-cover {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        // grid-column: 1/-1;
        background-color: #969899;
        display: grid;
        grid-template-columns: minmax(auto, 256px) 256px minmax(auto, 256px);
        grid-template-rows: 30px 100px 30px;

        .color-cover {
            width: 100%;
            height: 100%;
        }

        .img-cover {
            grid-column: 2/3;
            background-position: center;
            background-size: cover;
            grid-row: 1/-1;
            max-width: 100%;
            height: 160px;
            object-fit: contain;
            padding: 0px;
        }

        .btn {
            max-height: 30px;
            grid-column: 3/-1;
        }

        .btn.cover {
            width: 100%;
            grid-column: 3/-1;
            align-self: flex-end;
            justify-self: flex-end;
            grid-row: 3/-1;
            font-size: 14px;
            background-color: #ffffff3d;
            color: #fff;
            width: 72px;
            min-height: 32px;
            border-radius: 3px;
            margin: 0 8px 8px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                background-color: #ffffff52;
            }

            .bts-icon {
                margin-right: 7px;
                margin-top: 4px;
                font-size: 13px;
            }
        }

        .btn.close {
            // margin: 0;
            // padding: 0px;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            padding: 2px;
            margin: 4px;
            justify-self: right;
            background-color: #f4f5f7;
            opacity: 0.6;
            color: #172b4d;
            font-size: 14px;
            background-image: url('../../../img/icon-close-task-details.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}